killianbrackey.com {

  log / stdout "{combined}" {
    rotate_age 15
  }
	proxy / killianbrackey.com:80 {

	}

	gzip

	tls killianbrackey@gmail.com
}

calc.killianbrackey.com {

		proxy / calc.killianbrackey.com:3000 {

		}
		
		gzip

		tls killianbrackey@gmail.com
}
